.main-footer {
    background-color: rgb(223, 221, 221); 
    position: relative; 
    width: 100%; 
    bottom: 0px;
    padding-top: 8px; 
}
.container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly; 
}
.ul li {
    list-style: none; 
}
.footer-left {
    padding: 0 0 20px 0; 
}
.footer-center {
    padding: 0 0 20px 0; 
}
.footer-right {
    padding: 0 0 20px 0; 
}
