
.mapContainer {
  margin-top: 25px;
}

.mapDiv{
  height: 500px;
}

.mapZoomDisplay {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.updateButton {
  margin-top: 20px;
}

.tab-bar {
  background: whitesmoke; 
  display: flex;
  justify-content: space-around;
}

.grid-container {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  grid-column-gap: 40px; 
  grid-row-gap: 40px; 
  margin: 30px; 
  padding-bottom: 7%; 
}

.form-grid {
  grid-area: 1 / 1 / 2 / 2; 
}

.tab-container {
  grid-area: 1 / 2 / 4 / 3; 
}

.mapDiv {
  grid-area: 2 / 1 / 4 / 2; 
}
.address-submit-form input {
  margin: 0 1px; 
}
.address-button {
  background-color: rgb(178, 224, 170);
  border: solid; 
  border-color: rgb(131, 177, 123);
  border-radius: 1px;
}

.mapboxgl-popup-content {
  height: 150px;
  font-size:15px;
}

.popupName {
  font-size:15px;
  font-weight:bold;
}

.popupAddress {
  font-weight:12px;
}

