html {
  height: 95vh;
  width: 100vw;
  /* background-color: #F5FFFF; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;

}
.mapContainer {
  margin-top: 25px;
}

.mapDiv{
  height: 350px;
}

.mapZoomDisplay {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.updateButton {
  margin-top: 20px;
}

.tab-bar {
  background: whitesmoke; 
  display: flex;
  justify-content: space-around;
}

.grid-container {
  box-sizing: border-box;
  height: 80vh;
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  grid-column-gap: 25px; 
  grid-row-gap: 25px; 
  margin: 30px; 
  padding-bottom: 7%; 
}

.form-grid {
  grid-area: 1 / 1 / 2 / 2; 
}

.tab-container {
  grid-area: 1 / 2 / 4 / 3; 
}

.mapDiv {
  grid-area: 2 / 1 / 4 / 2; 
}

.address-submit-form input {
  margin: 0 1px; 
}
.address-button {
  background-color: rgb(178, 224, 170);
  border: solid; 
  border-color: rgb(131, 177, 123);
  border-radius: 1px;
}

