
.mapContainer {
  margin-top: 25px;
}

.mapDiv{
  height: 500px;
}

.mapZoomDisplay {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.updateButton {
  margin-top: 20px;
}

.addressContainer {
  border: 1px solid black;
  width: 500px;
}


.addressContainer {
  border: 1px solid black;
  width: 500px;
}


.addressContainer h1 {
  border-bottom: 1px solid black;
  text-align:center;
}

.nav {
  display:flex;
  justify-content: space-between;
  background: black;
  color:white;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  display:flex;
}

.nav ul {
  display:flex;
  flex-direction:row;
}

.nav li {
  list-style:none;
  margin: 0 20px;
  cursor:pointer;
  
}

.resultCards {
  border: 1px solid black;
  width: cover;
}

.cardContainer {
  height: 500px;
  width:400px;
  overflow-y:scroll;
  overflow-x:hidden;
  padding:0;
  border:1px solid grey;
}


.resultTabHeading {
  position: sticky;
  top: 0;
  background-color:grey;
  color:white;
  padding:20px;
  margin:0;
  text-align:center;
  border: 2px solid black;
}